{% extends "base.html" %}
{% block content %}

<div>
  <form id='download_form' name='download_form'>
  {{ macros.setting_input_text('download_url', '다운로드', placeholder='', desc=['Magnet or Torrent File URL']) }}
  {{ macros.setting_radio('default_torrent_program', '기본 토렌트 프로그램', ['트랜스미션', '다운로드 스테이션', '큐빗토렌트', 'aria2'], value=arg['default_torrent_program']) }}
  {{ macros.setting_input_text('download_path', '다운로드 경로', value=arg['download_path'], desc=['다운로드 경로. 생략시 토렌트 프로그램의 기본 경로를 사용합니다.']) }}
  {{ macros.setting_button([['download_start', '다운로드']]) }}
  </form>
  {{ macros.m_hr() }}
  
  <form id='setting' name='setting'>
  {{ macros.setting_input_text('attach_upload_path', '감시폴더/업로드 경로', value=arg['attach_upload_path'], desc=['토렌트 파일 업로드 경로/주기적으로 체크할 폴더 경로 [기본설정의 스케쥴링 시간마다 검사]']) }}
  {{ macros.setting_button([['global_setting_save_btn', '저장']]) }}
  <div class="row" style="padding-top: 10px; padding-bottom:10px; align-items: center;">
    <div class="col-sm-3 set-left"></div>
    <div class="col-sm-9">
        <div class="input-group col-sm-9">
            <button id="add_torrent_file" class="btn btn-sm btn-outline-success">토렌트 파일 선택</button>
            <input type="file" id="attach_files" name="attach_files[]" value="" style="display:none;" multiple="multiple"/>
            <button id="upload_torrent_btn" class="btn btn-sm btn-outline-success">업로드</button>
        </div>
        <div style="padding-left:20px; padding-top:5px;" id="attach_file_list">
            <em></em>
        </div>
    </div>
  </div>
  {{ macros.setting_button([['global_one_execute_btn', '1회 실행']], left='1회 실행' ) }}
  </form>
</div> <!--전체-->
<script type="text/javascript">
var package_name = "{{arg['package_name']}}";
var current_data = null;
var default_torrent_program = "{{arg['default_torrent_program']}}"


$(document).ready(function(){
  $.ajax({
    url: '/' + package_name + '/ajax/get_setting',
    type: "POST", 
    cache: false,
    data: {},
    dataType: "json",
    success: function (data) {
      current_data = data
      set_default_torrent_program(default_torrent_program);
    }
  });
});

$('input[type=radio][name=default_torrent_program]').change(function() {
  set_default_torrent_program(this.value);
});

function set_default_torrent_program(type) {
  //console.log(type)
  //console.log(current_data)
  $('input[name=default_torrent_program]')[parseInt(type)].checked = true;
  if ( type == '0') {
    document.getElementById("download_path").value = current_data.transmission_default_path;
  } else if ( type == '1') {
    document.getElementById("download_path").value = current_data.downloadstation_default_path;
  } else if ( type == '2') {
    document.getElementById("download_path").value = current_data.qbittorrnet_default_path;
  } else if ( type == '3') {
    document.getElementById("download_path").value = current_data.aria2_default_path;
  }
}

// 다운로드 버튼
$("body").on('click', '#download_start', function(e){
  e.preventDefault();
  var formData = get_formdata('#download_form');
  
  $.ajax({
    url: '/' + package_name + '/ajax/add_download',
    type: "POST", 
    cache: false,
    data: formData,
    dataType: "json",
    success: function (data) {
      show_result_add_download(data);
    }
  });
});

//토렌트 파일 선택 버튼
$("body").on("click", "#add_torrent_file", function(e){
    e.preventDefault();
    $("#attach_files").click();
});

$("#attach_files").change(function(e){
    e.preventDefault();
    var fileListHTML = "";
    var fileList = document.getElementById("attach_files").files;
    var fileCnt = fileList.length;
    
    for(var i=0; i<fileCnt; i++){
        var fileName = fileList[i].name;
        var fileExt = fileName.substring(fileName.lastIndexOf(".")+1).toUpperCase();

        if(fileExt.toUpperCase() != "TORRENT"){
            continue;
        }
        fileListHTML += fileList[i].name+"<br>";
    }
    fileListHTML += "</em>";
    $("#attach_file_list").html(fileListHTML);
});

$("#upload_torrent_btn").click(function (e){
    e.preventDefault();
    $("#setting").attr("enctype", "multipart/form-data");
    //var formData = get_formdata('#setting');
    var formData = new FormData(document.getElementById("setting"));

    $.ajax({
      url: '/' + package_name + '/ajax/upload_torrent_file',
      type: "POST", 
      cache: false,
      data: formData,
      contentType: false,	//파일전송시 필요
			processData: false,	//파일전송시 필요
      dataType: "json",
      success: function (data) {
        alert("파일 업로드..");
      },
      error : function (data){
        alert("토렌트 파일 업로드 실패");
      }
    });
});
</script>    
{% endblock %}